/* CSS HEX */
--cinnabar: #e05d44; 		0%
--cocoa-brown: #DE6E31;		12%
--fulvous: #db7f1e; 		25%
#D0910F						37%
--gold-metallic: #c4a200; 	50%
#AFB30C						62%
--yellow-green: #99c317; 	75%
#6FD23A						87%
--malachite: #44e05d; 		100%

/* CSS HSL */
--cinnabar: hsla(10, 72%, 57%, 1);
--fulvous: hsla(31, 76%, 49%, 1);
--gold-metallic: hsla(50, 100%, 38%, 1);
--yellow-green: hsla(75, 79%, 43%, 1);
--malachite: hsla(130, 72%, 57%, 1);

/* SCSS HEX */
$cinnabar: #e05d44ff;
$fulvous: #db7f1eff;
$gold-metallic: #c4a200ff;
$yellow-green: #99c317ff;
$malachite: #44e05dff;

/* SCSS HSL */
$cinnabar: hsla(10, 72%, 57%, 1);
$fulvous: hsla(31, 76%, 49%, 1);
$gold-metallic: hsla(50, 100%, 38%, 1);
$yellow-green: hsla(75, 79%, 43%, 1);
$malachite: hsla(130, 72%, 57%, 1);

/* SCSS RGB */
$cinnabar: rgba(224, 93, 68, 1);
$fulvous: rgba(219, 127, 30, 1);
$gold-metallic: rgba(196, 162, 0, 1);
$yellow-green: rgba(153, 195, 23, 1);
$malachite: rgba(68, 224, 93, 1);