altgraph==0.17.4
appdirs==1.4.4
asciinema==2.4.0
beautifulsoup4==4.12.3
blinker==1.7.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
cx-Logging==3.1.0
cx_Freeze==6.15.15
Flask==3.0.2
gitdb==4.0.10
GitPython==3.1.41
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.4
lief==0.14.0
MarkupSafe==2.1.5
netifaces==0.11.0
opentimestamps==0.4.5
opentimestamps-client==0.7.1
packaging==23.2
pefile==2023.2.7
ping3==4.0.4
plyer==2.1.0
psutil==5.9.8
py-cpuinfo==9.0.0
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.19.1
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pypiwin32==223
PySocks==1.7.1
python-bitcoinlib==0.12.2
pywin32==306
pywin32-ctypes==0.2.2
requests==2.32.0
smmap==5.0.0
soupsieve==2.5
speedtest-cli==2.1.3
urllib3==2.2.2
Werkzeug==3.0.3
win10toast==0.9
WMI==1.5.1
zipfile38==0.0.3
