@font-face {
     font-family: "jw-icons";
     src: url("jw-icons-e8fb869.woff");
}
 i {
     font-family: "jw-icons";
     font-style: normal;
     font-size: 48px;
     margin-left: 8px;
     color: #060606;
}
/* Media query para dispositivos con un ancho máximo de 768px (típicamente dispositivos móviles) */
@media screen and (max-width: 768px) {
   i {
     font-size: 38px;
    }
}

 .jwIcon.uno:before {
     content: "\e600";
}
 .jwIcon.dos:before {
     content: "\e601";
}
 .jwIcon.tres:before {
     content: "\e602";
}
 .jwIcon.cuatro:before {
     content: "\e603";
}
 .jwIcon.cinco:before {
     content: "\e604";
}
 .jwIcon.seis:before {
     content: "\e605";
}
 .jwIcon.siete:before {
     content: "\e606";
}
 .jwIcon.ocho:before {
     content: "\e607";
}
 .jwIcon.nueve:before {
     content: "\e608";
}
 .jwIcon.e10:before {
     content: "\e609";
}
 .jwIcon.e11:before {
     content: "\e610";
}
 .jwIcon.e12:before {
     content: "\e611";
}
 .jwIcon.e13:before {
     content: "\e612";
}
 .jwIcon.e14:before {
     content: "\e613";
}
 .jwIcon.e15:before {
     content: "\e614";
}
 .jwIcon.e16:before {
     content: "\e615";
}
 .jwIcon.e17:before {
     content: "\e616";
}
 .jwIcon.e18:before {
     content: "\e617";
}
 .jwIcon.e19:before {
     content: "\e618";
}
 .jwIcon.e20:before {
     content: "\e619";
}
 .jwIcon.e21:before {
     content: "\e620";
}
 .jwIcon.e22:before {
     content: "\e621";
}
 .jwIcon.e23:before {
     content: "\e622";
}
 .jwIcon.e24:before {
     content: "\e623";
}
 .jwIcon.e25:before {
     content: "\e624";
}
 .jwIcon.e26:before {
     content: "\e625";
}
 .jwIcon.e27:before {
     content: "\e626";
}
 .jwIcon.e28:before {
     content: "\e627";
}
 .jwIcon.e29:before {
     content: "\e628";
}
 .jwIcon.e30:before {
     content: "\e629";
}
 .jwIcon.e31:before {
     content: "\e630";
}
 .jwIcon.e32:before {
     content: "\e631";
}
 .jwIcon.e33:before {
     content: "\e632";
}
 .jwIcon.e34:before {
     content: "\e633";
}
 .jwIcon.e35:before {
     content: "\e634";
}
 .jwIcon.e36:before {
     content: "\e635";
}
 .jwIcon.e37:before {
     content: "\e636";
}
 .jwIcon.e38:before {
     content: "\e637";
}
 .jwIcon.e39:before {
     content: "\e638";
}
 .jwIcon.e40:before {
     content: "\e639";
}
 .jwIcon.e41:before {
     content: "\e640";
}
 .jwIcon.e42:before {
     content: "\e641";
}
 .jwIcon.e43:before {
     content: "\e642";
}
 .jwIcon.e44:before {
     content: "\e643";
}
 .jwIcon.e45:before {
     content: "\e644";
}
 .jwIcon.e46:before {
     content: "\e645";
}
 .jwIcon.e47:before {
     content: "\e646";
}
 .jwIcon.e48:before {
     content: "\e647";
}
 .jwIcon.e49:before {
     content: "\e648";
}
 .jwIcon.e50:before {
     content: "\e649";
}
 .jwIcon.e51:before {
     content: "\e650";
}
 .jwIcon.e52:before {
     content: "\e651";
}
 .jwIcon.e53:before {
     content: "\e652";
}
 .jwIcon.e54:before {
     content: "\e653";
}
 .jwIcon.e55:before {
     content: "\e654";
}
 .jwIcon.e56:before {
     content: "\e655";
}
 .jwIcon.e57:before {
     content: "\e656";
}
 .jwIcon.e58:before {
     content: "\e657";
}
 .jwIcon.e59:before {
     content: "\e658";
}
 .jwIcon.e60:before {
     content: "\e659";
}
 .jwIcon.e61:before {
     content: "\e660";
}
 .jwIcon.e62:before {
     content: "\e661";
}
 .jwIcon.e63:before {
     content: "\e662";
}
 .jwIcon.e64:before {
     content: "\e663";
}
 .jwIcon.e65:before {
     content: "\e664";
}
 .jwIcon.e66:before {
     content: "\e665";
}
 .jwIcon.e67:before {
     content: "\e666";
}
 .jwIcon.e68:before {
     content: "\e667";
}
 .jwIcon.e69:before {
     content: "\e668";
}
 .jwIcon.e70:before {
     content: "\e669";
}
 .jwIcon.e71:before {
     content: "\e670";
}
 .jwIcon.e72:before {
     content: "\e671";
}
 .jwIcon.e73:before {
     content: "\e672";
}
 .jwIcon.e74:before {
     content: "\e673";
}
 .jwIcon.e75:before {
     content: "\e674";
}
 .jwIcon.e76:before {
     content: "\e675";
}
 .jwIcon.e77:before {
     content: "\e676";
}
 .jwIcon.e78:before {
     content: "\e677";
}
 .jwIcon.e79:before {
     content: "\e678";
}
 .jwIcon.e80:before {
     content: "\e679";
}
 .jwIcon.e81:before {
     content: "\e680";
}
 .jwIcon.e82:before {
     content: "\e681";
}
 .jwIcon.e83:before {
     content: "\e682";
}
 .jwIcon.e84:before {
     content: "\e683";
}
 .jwIcon.e85:before {
     content: "\e684";
}
 .jwIcon.e86:before {
     content: "\e685";
}
 .jwIcon.e87:before {
     content: "\e686";
}
 .jwIcon.e88:before {
     content: "\e687";
}
 .jwIcon.e89:before {
     content: "\e688";
}
 .jwIcon.e90:before {
     content: "\e689";
}
 .jwIcon.e91:before {
     content: "\e690";
}
 .jwIcon.e92:before {
     content: "\e691";
}
 .jwIcon.e93:before {
     content: "\e692";
}
 .jwIcon.e94:before {
     content: "\e693";
}
 .jwIcon.e95:before {
     content: "\e694";
}
 .jwIcon.e96:before {
     content: "\e695";
}
 .jwIcon.e97:before {
     content: "\e696";
}
 .jwIcon.e98:before {
     content: "\e697";
}
 .jwIcon.e99:before {
     content: "\e698";
}
 .jwIcon.e100:before {
     content: "\e699";
}
 .jwIcon.e101:before {
     content: "\e60a";
}
 .jwIcon.e102:before {
     content: "\e60b";
}
 .jwIcon.e103:before {
     content: "\e60c";
}
 .jwIcon.e104:before {
     content: "\e60d";
}
 .jwIcon.e105:before {
     content: "\e60e";
}
 .jwIcon.e106:before {
     content: "\e60f";
}
 .jwIcon.e107:before {
     content: "\e61a";
}
 .jwIcon.e108:before {
     content: "\e61b";
}
 .jwIcon.e109:before {
     content: "\e61c";
}
 .jwIcon.e110:before {
     content: "\e61d";
}
 .jwIcon.e111:before {
     content: "\e61e";
}
 .jwIcon.e112:before {
     content: "\e61f";
}
 .jwIcon.e113:before {
     content: "\e62a";
}
 .jwIcon.e114:before {
     content: "\e62b";
}
 .jwIcon.e115:before {
     content: "\e62c";
}
 .jwIcon.e116:before {
     content: "\e62d";
}
 .jwIcon.e117:before {
     content: "\e62e";
}
 .jwIcon.e118:before {
     content: "\e62f";
}
 .jwIcon.e119:before {
     content: "\e63c";
}
 .jwIcon.e120:before {
     content: "\e63b";
}
 .jwIcon.e121:before {
     content: "\e63a";
}
 .jwIcon.e122:before {
     content: "\e63d";
}
 .jwIcon.e123:before {
     content: "\e63e";
}
 .jwIcon.e124:before {
     content: "\e63f";
}
 .jwIcon.e125:before {
     content: "\e64f";
}
 .jwIcon.e126:before {
     content: "\e64e";
}
 .jwIcon.e127:before {
     content: "\e64d";
}
 .jwIcon.e128:before {
     content: "\e64c";
}
 .jwIcon.e129:before {
     content: "\e64b";
}
 .jwIcon.e130:before {
     content: "\e64a";
}
 .jwIcon.e131:before {
     content: "\e65a";
}
 .jwIcon.e132:before {
     content: "\e65b";
}
 .jwIcon.e133:before {
     content: "\e65c";
}
 .jwIcon.e134:before {
     content: "\e65d";
}
 .jwIcon.e135:before {
     content: "\e65e";
}
 .jwIcon.e136:before {
     content: "\e65f";
}
 .jwIcon.e137:before {
     content: "\e66a";
}
 .jwIcon.e138:before {
     content: "\e66b";
}
 .jwIcon.e139:before {
     content: "\e66c";
}
 .jwIcon.e140:before {
     content: "\e66d";
}
 .jwIcon.e141:before {
     content: "\e66e";
}
 .jwIcon.e142:before {
     content: "\e66f";
}
 .jwIcon.e143:before {
     content: "\e67a";
}
 .jwIcon.e144:before {
     content: "\e67b";
}
 .jwIcon.e145:before {
     content: "\e67c";
}
 .jwIcon.e146:before {
     content: "\e67d";
}
 .jwIcon.e147:before {
     content: "\e67e";
}
 .jwIcon.e148:before {
     content: "\e67f";
}
 .jwIcon.e149:before {
     content: "\e68a";
}
 .jwIcon.e150:before {
     content: "\e68b";
}
 .jwIcon.e151:before {
     content: "\e68c";
}
 .jwIcon.e152:before {
     content: "\e68d";
}
 .jwIcon.e153:before {
     content: "\e68e";
}
 .jwIcon.e154:before {
     content: "\e68f";
}
 .jwIcon.e155:before {
     content: "\e69a";
}
 .jwIcon.e156:before {
     content: "\e69b";
}
 .jwIcon.e157:before {
     content: "\e69c";
}
 .jwIcon.e158:before {
     content: "\e69d";
}
 .jwIcon.e159:before {
     content: "\e69e";
}
 .jwIcon.e160:before {
     content: "\e69f";
}
 .jwIcon.e161:before {
     content: "\e6a0";
}
 .jwIcon.e162:before {
     content: "\e6a1";
}
 .jwIcon.e163:before {
     content: "\e6a2";
}
 .jwIcon.e164:before {
     content: "\e6a3";
}
 .jwIcon.e165:before {
     content: "\e6a4";
}
 .jwIcon.e166:before {
     content: "\e6a5";
}
 .jwIcon.e167:before {
     content: "\e6a6";
}
 .jwIcon.e168:before {
     content: "\e6a7";
}
 .jwIcon.e169:before {
     content: "\e6a8";
}
 .jwIcon.e170:before {
     content: "\e6a9";
}
 .jwIcon.e171:before {
     content: "\e6b0";
}
 .jwIcon.e172:before {
     content: "\e6b1";
}
 .jwIcon.e173:before {
     content: "\e6b2";
}
 .jwIcon.e174:before {
     content: "\e6b3";
}
 .jwIcon.e175:before {
     content: "\e6b4";
}
 .jwIcon.e176:before {
     content: "\e6b5";
}
 .jwIcon.e177:before {
     content: "\e6b6";
}
 .jwIcon.e178:before {
     content: "\e6b7";
}
 .jwIcon.e179:before {
     content: "\e6b8";
}
 .jwIcon.e180:before {
     content: "\e6b9";
}
 .jwIcon.e181:before {
     content: "\e6aa";
}
 .jwIcon.e182:before {
     content: "\e6ab";
}
 .jwIcon.e183:before {
     content: "\e6ac";
}
 .jwIcon.e184:before {
     content: "\e6ad";
}
 .jwIcon.e185:before {
     content: "\e6ae";
}
 .jwIcon.e186:before {
     content: "\e6af";
}
 .jwIcon.e187:before {
     content: "\e6ba";
}
 .jwIcon.e188:before {
     content: "\e6bb";
}