@media print {
  /* Fuerza la impresión de colores y fondos */
  body {
    background-color: #fff; /* o el color que necesites */
    -webkit-print-color-adjust: exact; /* para Chrome, Safari y Opera */
    print-color-adjust: exact;         /* para Firefox y otros navegadores */
  }
  
  /* Oculta elementos que no quieres imprimir */
  .Header {
    display: none;
  }

  @page {
    margin: 0;
  }

  /* Otros ajustes para limpiar la impresión */
  .clearfix::before {
    display: none;
    content: "";
  }
  
  .btn {
    display: none;
  }

  .print-footer {
    page-break-before: always; /* Asegura que este elemento comience en una nueva página */
    display: flex !important; /* Asegura que el footer se muestre */
    align-items: center;
    justify-content: space-between; /* Alinea los elementos al final de la página */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e7eef8;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
  }

  .print-footer img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .print-footer p {
    margin: 5px;
  }

  .Fecha p {
    font-size: 8px;
  }
}
