<!DOCTYPE html>
<html>

<head>
   
<!-- Google tag (gtag.js) -->
{% include 'google-tag.html' %}

   <title>Kingdom Hall Attendant</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   
   <link rel="stylesheet" href="{{ url_for('static', filename='primer.css') }}">
   <link href="{{ url_for('static', filename='jw-icons.css') }}" rel="stylesheet" />
   <link href="{{ url_for('static', filename='print-styles.css') }}" rel="stylesheet" />
   <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
   <div class="Header color-bg-inset">
      <!-- Image item  -->
      <div class="Header-item width-full">
         <a onclick="history.back()" style="cursor: pointer;" class="mr-2 ml-n2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
               <path d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z"></path>
            </svg>
         </a>
         <a href="/home" style="cursor: pointer;" class="mr-3">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 24" width="24" height="24"><path d="M11.03 2.59a1.501 1.501 0 0 1 1.94 0l7.5 6.363a1.5 1.5 0 0 1 .53 1.144V19.5a1.5 1.5 0 0 1-1.5 1.5h-5.75a.75.75 0 0 1-.75-.75V14h-2v6.25a.75.75 0 0 1-.75.75H4.5A1.5 1.5 0 0 1 3 19.5v-9.403c0-.44.194-.859.53-1.144ZM12 3.734l-7.5 6.363V19.5h5v-6.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 .75.75v6.25h5v-9.403Z"></path></svg>
            </a>
         <img class="avatar CircleBadge" height="100" alt="@octocat" src="{{ url_for('identicon') }}" width="100">
         <div class="d-table col-12">
                {% include 'user_info.html' %}
         </div>
      </div>
      <a href="/eliminar_todos_bosquejos">
          <button class="btn btn-danger mr-2 btn-sm" type="button">
            <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path></svg>
          </button>
        </a>
      <a class="btn btn-sm mr-2" onclick="imprimirPagina()" role="button">{{ _('Imprimir') }}</a>

      <div className="d-flex flex-justify-end ml-2">
               <details class="details-reset details-overlay float-right">
                     <summary class="btn btn-sm float-right" aria-haspopup="true">
                        <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path></svg>
                     </summary>
                     <div class="SelectMenu SelectMenu--hasFilter right-5 mt-4">
                        <div class="SelectMenu-modal">
                           <div class="SelectMenu-list">
                              {% if oradoreslist %}
                              {% for oradoreslist in oradoreslist %}
                              <a href="/nuevo_bosquejo?nombres={{ oradoreslist[1] }}&apellidos={{ oradoreslist[2] }}&congregacion={{ oradoreslist[202] }}" style="text-decoration: none;"><button class="SelectMenu-item" role="menuitem">{{ oradoreslist[1] }} {{ oradoreslist[2] }}</button></a>
                              {% endfor %}
                              {% else %}
    <div class="container-lg mt-1 mb-1" style="color:black;" align="center">
    <h4 style="width:50%;">{{ _('Primero registra un orador en Oradores públicos.') }}</h4>
 </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </details>
               </div>
      </div>

   <div class="container-xl mt-6">     

      <div class="p-2">  

         <div class="container-lg clearfix">
            <div class="color-fg-on-emphasis p-2 rounded-top-2 mb-0"
     style="background-color: #89A890; color: #fff; display: flex; align-items: center; justify-content: space-between; padding: 0.5rem;">
  <!-- Contenedor izquierdo: icono y título -->
  <div style="display: flex; align-items: center; flex: 1; min-width: 0;">
    <i class="jwIcon e125 mr-1" style="color: #fff; font-size: 1em;"></i>
    <!-- Se utiliza overflow hidden para evitar que textos muy largos empujen el contenido -->
    <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
      Discursos públicos
    </span>
  </div>

  <!-- Contenedor derecho: congregación -->
  <div class="mr-2" style="flex-shrink: 0; margin-left: 1rem; text-align: right;">
    <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
      {% if congregacion %}
        {{ congregacion }}
      {% else %}
        {{ _('Registra tu congregación') }}
      {% endif %}
    </span>
  </div>
</div>
            {% if bosquejos_list %}
    {% for bosquejo in bosquejos_list %}
    <div class="Box mt-0 {% if loop.last %}rounded-bottom-2{% endif %}" style="border: 0.5px solid #D7E3DA; border-radius: 0;">
        <div class="Box-row d-flex flex-items-center p-0">
            <div class="flex-auto p-2 flex-items-center" style="background-color: #D7E3DA; align-self: stretch; justify-content: center; align-items: center; max-width: 10%;min-width: 10%;">
                <strong style="color:#498457;">{{ bosquejo[3] if bosquejo[3] else _('Sin asignar') }}</strong>
            </div>
            
            <div class="container-lg p-2" style="width: 100%;">
                <div class="d-flex flex-wrap align-items-center">
                    <!-- Orador -->
                    <div class="d-flex align-items-center mr-3">
                        <span style="color:#757575;">{{ _('Orador:') }}</span>
                        <span style="font-weight:500; margin-left:5px;">{{ bosquejo[1] }} {{ bosquejo[2] }}</span>
                    </div>
                    
                    <!-- Congregación -->
                    {% if bosquejo[4] %}
                    <div class="d-flex align-items-center mr-3">
                        <span style="color:#757575;">{{ _('Congregación:') }}</span>
                        <span style="font-weight:normal; margin-left:5px;">{{ bosquejo[4] }}</span>
                    </div>
                    {% endif %}
                    
                    <!-- Saliente a -->
                    {% if bosquejo[11] %}
    <!-- Saliente a -->
    <div class="d-flex align-items-center mr-3">
        <span style="color:#757575;">{{ _('Saliente a:') }}</span>
        <span style="font-weight:500; margin-left:5px;">{{ bosquejo[11] }}</span>
    </div>
{% endif %}
                    <div class="d-flex align-items-center mr-2">
                        <span class="border-right">
                        </span>
                    </div>
                    <!-- Bosquejo -->
                    <div class="d-flex align-items-center">
                        <span style="font-weight:500; margin-left:5px; color:#498457;">
                            {% if bosquejo[5] %}
                                {{ _('Discurso público') }} {{ bosquejo[5] }}
                            {% else %}
                                {{ _('Sin asignar') }}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <a href="/mostrar_bosquejo/{{ bosquejo[0] }}">
                <button class="btn mr-2 btn-sm" type="button">
                    <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"></path>
            </svg>
                </button>
            </a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="container-lg mt-4" align="center">
        <h4 style="width:100%;">{{ _('¡Aún no tienes ningún discurso programado!') }}</h4>
    </div>
{% endif %}
         </div>
      </div>
      

   </div>

   <script type="text/javascript">
// Obtener la fecha actual
var fechaActual = new Date();

// Convertir la fecha a un formato legible
var opcionesFecha = {  year: 'numeric', month: 'numeric', day: 'numeric' };
var fechaFormateada = fechaActual.toLocaleDateString('es-ES', opcionesFecha);

// Insertar la fecha en el elemento <span> dentro del <h3>
document.getElementById("fecha").innerText = fechaFormateada;
   </script>
    <script type="text/javascript">
  function imprimirPagina() {
    window.print();
  }
</script>
</body>

</html>