<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PM738JMZ22"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-PM738JMZ22');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <title>Forgot your password? · Kingdom Hall Attendant</title>
</head>

<body>
    <div class="container" style="max-width: 450px;margin-top: 50px;">
      <div class="github-logo">
        <a href="/"><img src="{{ url_for('static', filename='images/313010479-cfab1393-8ae1-4b3f-9895-7022272f1262.jpeg') }}" style="width:80px;border-radius: 25%;"></a>

    </div>
        <span class="github-head">
            {{ _('Reset your password') }}
        </span>
        <form method="post" action="{{ url_for('update_password') }}">
            <div class="login-wrapper" style="max-width: 450px;">
                <div class="input-box">
                    <div for="email" class="input-label">{{ _('Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para restablecer la contraseña.') }}</div>
                    <input type="email" id="email" name="email" required autocomplete="off">
                </div>
    
                <div class="input-label" style="font-size:12px;font-family: 'YouTube Sans', sans-serif;">{{ _('Por favor, revise su bandeja de entrada o su carpeta de SPAM para encontrar el enlace.') }}</div>
    <br>
                <button type="submit" class="submit-btn">
                    {{ _('Recuperar contraseña') }}
                </button>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <div class="input-label" style="font-size:12px;margin-top: 10px;color:var(--primary-green);">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</body>

</html>
