<!DOCTYPE html>
<html lang="es" data-color-mode="light" data-light-theme="light">
   <head>
      <title>Kingdom Hall Attendant</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      
      <link href="{{ url_for('static', filename='primer.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='jw-icons.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
   </head>
   <body>
      <!-- Tu contenido del encabezado aquí -->
      <div class="Header color-bg-inset">
         <!-- Image item  -->
         <div class="Header-item width-full">
            <a onclick="history.back()" style="cursor: pointer;" class="mr-2 ml-n2">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z"></path>
               </svg>
            </a>
            <a href="/" style="cursor: pointer;" class="mr-3">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 24" width="24" height="24"><path d="M11.03 2.59a1.501 1.501 0 0 1 1.94 0l7.5 6.363a1.5 1.5 0 0 1 .53 1.144V19.5a1.5 1.5 0 0 1-1.5 1.5h-5.75a.75.75 0 0 1-.75-.75V14h-2v6.25a.75.75 0 0 1-.75.75H4.5A1.5 1.5 0 0 1 3 19.5v-9.403c0-.44.194-.859.53-1.144ZM12 3.734l-7.5 6.363V19.5h5v-6.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 .75.75v6.25h5v-9.403Z"></path></svg>
            </a>
            <img class="avatar CircleBadge" height="100" alt="@octocat" src="https://github.com/octocat.png" width="100">
            <div class="d-table col-12">
                {% include 'user_info.html' %}
            </div>
            <div className="d-flex flex-justify-end ml-2">
               <a href="/eliminar_contenido_configuracion">
               <button class="btn btn-danger mr-2" type="button">
        <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
          <path fill-rule="evenodd" d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z"></path>
        </svg>
        <span>Restablecer aplicación</span>
      </button></a>
            </div>
         </div>
      </div>
      <!-- Tu contenido del encabezado aquí -->
      <div class="container-xl mt-6">
         <form action="/guardar_configuracion" method="post">
            <div data-view-component="true" class="container-md">
               <!-- Public Profile -->
               <div data-view-component="true" class="Subhead mt-0 mb-0">
                  <h2 id="public-profile-heading" data-view-component="true" class="Subhead-heading">Configuración</h2>
               </div>
               <div class="clearfix gutter d-flex flex-shrink-0 flex-column-reverse flex-md-row">
                  <div class="col-12 col-md-12">                          
                     <div>
                        <dl class="form-group">
                           <dt><label for="user_profile_name">Nombre</label></dt>
                           <dd class="d-inline-block width-full">
                              <div>
                                 <input class="form-control width-full" type="text" placeholder="Nombres" name="nombre" id="nombre" value="{{ configuracion[1] }}" autocomplete="off">
                                 <input class="form-control mt-2 width-full" type="text" placeholder="Apellidos" name="apellidos" id="apellidos" value="{{ configuracion[2] }}"autocomplete="off">
                              </div>
                           </dd>
                        </dl>
                        <dl class="form-group">
                           <dt><label for="user_profile_email">Correo electrónico público</label></dt>
                           <dd class="d-inline-block width-full">
                              <div>
                                 <input class="form-control width-full" type="email" placeholder="usuario@jwpub.org" name="user_email" id="user_email" value="{{ configuracion[3] }}" autocomplete="off">
                              </div>
                           </dd>
                           <p class="note mb-2" >
                           Por favor, tenga en cuenta que una vez registrado con su dirección de correo electrónico, no podrá modificarse en nuestro sistema. Sin embargo, puede actualizar otros datos personales si lo desea.
                        </p>
                        </dl>
                        <dl class="form-group">
                           <dt><label for="user_profile_pronouns_select">Privilegio</label></dt>
                           <dd class="user-profile-bio-field-container js-length-limited-input-container">
                              <select id="user_profile_pronouns_select" class="form-select js-profile-editable-pronouns-select form-select form-control width-full" name="privilegio" id="privilegio">
                                 <option value="sdc" {% if configuracion[4] == 'sdc' %} selected {% endif %}>superintendente de circuito</option>
                                 <option value="anciano" {% if configuracion[4] == 'anciano' %} selected {% endif %}>anciano</option>
                                 <option value="sm" {% if configuracion[4] == 'sm' %} selected {% endif %}>siervo ministerial</option>
                              </select>
                           </dd>
                        </dl>
                        <dl class="form-group" id="pais">
                           <dt><label for="pais">País</label></dt>
                           <dd class="pais-container">
                              <text-expander>
                                 <input autocomplete="off" class="form-control width-full" type="text" name="pais" id="pais" value="{{ configuracion[5] }}">
                              </text-expander>
                           </dd>
                        </dl>  
                        <dl class="form-group" id="congregacion">
                           <dt><label for="congregacion">Congregación</label></dt>
                           <dd class="user-profile-company-field-container">
                              <text-expander>
                                 <input autocomplete="off" class="form-control width-full" type="text" name="congregacion" id="congregacion" value="{{ configuracion[6] }}">
                              </text-expander>
                           </dd>
                        </dl>  
                        <dl class="form-group" id="circuito">
                           <dt><label for="circuito">Circuito</label></dt>
                           <dd class="user-profile-company-field-container">
                              <text-expander>
                                 <input autocomplete="off" class="form-control width-full" type="text" name="circuito" id="circuito" value="{{ configuracion[7] }}"> <!-- Cambiado a "circuito" -->
                              </text-expander>
                           </dd>
                        </dl>
                        <p>
                           <button type="submit" id="guardarDatos" class="btn btn-primary btn-block mt-4 mb-6">    
                           <span class="Button-content">
                           <span class="Button-label">Actualizar datos</span>
                           </span>
                           </button>      
                        </p>
                     </div>  
                  </div>
               </div>
            </div>
            <!-- FIN DE CONFIGURACIÓN -->
         </form>
      </div>
   </body>
</html>
