<!DOCTYPE html>
<html data-color-mode="light" data-light-theme="light">
   <head>
      <title>Kingdom Hall Attendant</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link href="{{ url_for('static', filename='primer.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='jw-icons.css') }}" rel="stylesheet" />
   </head>
   <body>
      <div class="Header color-bg-inset">
         <!-- Image item  -->
         <div class="Header-item width-full">
            <a onclick="history.back()" style="cursor: pointer;" class="mr-2 ml-n2">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z"></path>
               </svg>
            </a>
            <img class="avatar CircleBadge" height="100" alt="@octocat" src="https://github.com/octocat.png" width="100">
            <div class="d-table col-12">
               <div class="col-10 d-table-cell v-align-middle pl-4">
                  <h2 class="text-normal lh-condensed color-fg-default" name="user">Apellidos, Nombre</h2>
                  <p class="color-fg-muted text-small mt-4" name="user_email">usuario@correo.com</p>
               </div>
            </div>
         </div>
      </div>
      <div class="container-xl mt-6">         
         <div class="container-xl">
            <div class="">
               <div class="tabnav">
                  <nav class="tabnav-tabs" aria-label="Foo bar">
                     <a class="tabnav-tab" href="congregacion.html" aria-current="page">Congregación</a>
                     <a class="tabnav-tab" href="publicadores.html">Publicadores</a>
                  </nav>
               </div>
            </div>
            <form action="/guardar_congregacion" method="post">
               <input class="form-control" type="text" name="nombre_congregacion" placeholder="Congregación" aria-label="Congregación" style="width: 79%;" value="{{ congregation[1] if congregation else '' }}" />
               <input class="form-control" type="number" name="numero" placeholder="Número" aria-label="Número" style="width:20%;" value="{{ congregation[2] if congregation else '' }}" />
               <br>
               <p class="f4 mt-2 mb-0">Reunión de entre semana</p>
<div class="radio-group">
    <input class="radio-input" id="option-a" type="radio" name="options" value="Lunes" {% if congregation[9] == 'Lunes' %} checked {% endif %}>
<label class="radio-label" for="option-a">Lunes</label>
<input class="radio-input" id="option-b" type="radio" name="options" value="Martes" {% if congregation[9] == 'Martes' %} checked {% endif %}>
<label class="radio-label" for="option-b">Martes</label>
<input class="radio-input" id="option-c" type="radio" name="options" value="Miércoles" {% if congregation[9] == 'Miércoles' %} checked {% endif %}>
<label class="radio-label" for="option-c">Miércoles</label>
<input class="radio-input" id="option-d" type="radio" name="options" value="Jueves" {% if congregation[9] == 'Jueves' %} checked {% endif %}>
<label class="radio-label" for="option-d">Jueves</label>
<input class="radio-input" id="option-e" type="radio" name="options" value="Viernes" {% if congregation[9] == 'Viernes' %} checked {% endif %}>
<label class="radio-label" for="option-e">Viernes</label>
<input class="radio-input" id="option-f" type="radio" name="options" value="Sábado" {% if congregation[9] == 'Sábado' %} checked {% endif %}>
<label class="radio-label" for="option-f">Sábado</label>
<input class="radio-input" id="option-g" type="radio" name="options" value="Domingo" {% if congregation[9] == 'Domingo' %} checked {% endif %}>
<label class="radio-label" for="option-g">Domingo</label>                
<input class="form-control ml-1" type="time" name="hora_inicio_semana" placeholder="Hora de inicio" aria-label="Hora de inicio" style="width:24.5%;" value="{{ congregation[3] if congregation else '' }}" />
</div>
<br>
<p class="f4 mt-2 mb-0">Reunión de fin de semana</p>
<div class="radio-group">
    <input class="radio-input" id="option-h" type="radio" name="optionstwo" value="Lunes" {% if congregation[10] == 'Lunes' %} checked {% endif %}>
    <label class="radio-label" for="option-h">Lunes</label>
    <input class="radio-input" id="option-i" type="radio" name="optionstwo" value="Martes" {% if congregation[10] == 'Martes' %} checked {% endif %}>
    <label class="radio-label" for="option-i">Martes</label>
    <input class="radio-input" id="option-j" type="radio" name="optionstwo" value="Miércoles" {% if congregation[10] == 'Miércoles' %} checked {% endif %}>
    <label class="radio-label" for="option-j">Miércoles</label>
    <input class="radio-input" id="option-k" type="radio" name="optionstwo" value="Jueves" {% if congregation[10] == 'Jueves' %} checked {% endif %}>
    <label class="radio-label" for="option-k">Jueves</label>
    <input class="radio-input" id="option-l" type="radio" name="optionstwo" value="Viernes" {% if congregation[10] == 'Viernes' %} checked {% endif %}>
    <label class="radio-label" for="option-l">Viernes</label>
    <input class="radio-input" id="option-m" type="radio" name="optionstwo" value="Sábado" {% if congregation[10] == 'Sábado' %} checked {% endif %}>
    <label class="radio-label" for="option-m">Sábado</label>
    <input class="radio-input" id="option-n" type="radio" name="optionstwo" value="Domingo" {% if congregation[10] == 'Domingo' %} checked {% endif %}>
    <label class="radio-label" for="option-n">Domingo</label> 
    <input class="form-control ml-1" type="time" name="hora_inicio_fin_semana" placeholder="Hora de inicio" aria-label="Hora de inicio" style="width:24.5%;" value="{{ congregation[4] if congregation else '' }}" />
</div>
<br>
<p class="f4 mb-0">Dirección del Salón del Reino</p>
<textarea class="form-control width-full mb-3" id="example-textarea" name="direccion_salon">
   {{ congregation[5] if congregation else '' }}
</textarea>
<br>  
<input class="form-control" type="text" name="superintendente_circuito" placeholder="Superintendente de circuito" aria-label="Superintendente de circuito " style="width: 59%;" value="{{ congregation[6] if congregation else '' }}" />
<input class="form-control" type="number" name="telefono" placeholder="Número de teléfono" aria-label="Número de teléfono" style="width:20%;" value="{{ congregation[7] if congregation else '' }}" />  
<input class="form-control" type="text" name="circuito" placeholder="Circuito" aria-label="Circuito" style="width:20%;" value="{{ congregation[8] if congregation else '' }}" />
<br><br>
<div class="form-actions" style="margin-bottom: 30px;">
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</div>

            </form>
         </div>
      </div>
   </body>
</html>