<!DOCTYPE html>
<html data-color-mode="light" data-light-theme="light">

<head>
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PM738JMZ22"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PM738JMZ22');
</script>
    <title>Kingdom Hall Attendant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename=theme + '.css') }}">
   <link href="{{ url_for('static', filename='jw-icons.css') }}" rel="stylesheet" />
   <link href="{{ url_for('static', filename='print-styles.css') }}" rel="stylesheet" />
   <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <div class="Header color-bg-inset">
        <!-- Image item -->
        <div class="Header-item width-full">
            <a onclick="history.back()" style="cursor: pointer;" class="mr-2 ml-n2">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z"></path>
               </svg>
            </a>
            <a href="/home" style="cursor: pointer;" class="mr-3">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 24" width="24" height="24"><path d="M11.03 2.59a1.501 1.501 0 0 1 1.94 0l7.5 6.363a1.5 1.5 0 0 1 .53 1.144V19.5a1.5 1.5 0 0 1-1.5 1.5h-5.75a.75.75 0 0 1-.75-.75V14h-2v6.25a.75.75 0 0 1-.75.75H4.5A1.5 1.5 0 0 1 3 19.5v-9.403c0-.44.194-.859.53-1.144ZM12 3.734l-7.5 6.363V19.5h5v-6.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 .75.75v6.25h5v-9.403Z"></path></svg>
            </a>
            <img class="avatar CircleBadge" height="100" alt="@octocat" src="{{ url_for('identicon') }}" width="100">
            <div class="d-table col-12">
                {% include 'user_info.html' %}
            </div>
         </div>
    
    </div>


    <div id="form-container">
<form action="/save-ava" method="post">
    <div class="container-xl mt-6">
        <div class="pl-2">
            <div class="container-lg clearfix">
                <div class="Box mt-2 mr-2">
                    <div class="Box-row d-flex flex-items-center">
                        <div class="container-lg clearfix" style="width: 100%;">
                            <!-- Fecha -->
                            <div class="col-2 float-left">
                                <p class="h4">{{ _('Fecha:') }}</p>
                                <input type="date" name="fecha" required class="form-control mt-2">
                            </div>

                            <!-- Audio y Video -->
                            {% if settings.audio|int > 0 or settings.video|int > 0 %}
                                <div class="col-2 float-left ml-2">
                                    <p class="h4">{{ _('Operador de audio:') }}</p>
                                    {% if settings.audio|int > 0 %}
                                        {% for i in range(1, settings.audio|int + 1) %}
                                            <select name="audio_{{ i }}" class="form-control width-full mt-2">
                                                <option value="">{{ _('-- Selecciona Audio --') }}</option>
                                                {% for publicador in participantes_microfonos %}
                                                    <option value="{{ publicador['nombres'] }} {{ publicador['apellidos'] }}">{{ publicador['nombres'] }} {{ publicador['apellidos'] }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}

                                    <p class="h4 mt-3">{{ _('Operador de video:') }}</p>
                                    {% if settings.video|int > 0 %}
                                        {% for i in range(1, settings.video|int + 1) %}
                                            <select name="video_{{ i }}" class="form-control width-full mt-2">
                                                <option value="">{{ _('-- Selecciona Video --') }}</option>
                                                {% for publicador in participantes_zoom %}
                                                    <option value="{{ publicador['nombres'] }} {{ publicador['apellidos'] }}">{{ publicador['nombres'] }} {{ publicador['apellidos'] }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <!-- Plataforma -->
                            {% if settings.plataforma|int > 0 %}
                                <div class="col-2 float-left ml-2">
                                    <p class="h4">{{ _('Plataforma:') }}</p>
                                    {% for i in range(1, settings.plataforma|int + 1) %}
                                        <select name="plataforma_{{ i }}" class="form-control width-full mt-2">
                                            <option value="">{{ _('-- Selecciona Plataforma --') }}</option>
                                            {% for publicador in participantes_plataforma %}
                                                <option value="{{ publicador['nombres'] }} {{ publicador['apellidos'] }}">{{ publicador['nombres'] }} {{ publicador['apellidos'] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {% endif %}

                            <!-- Micrófonos -->
                            {% if settings.microfonistas|int > 0 %}
                                <div class="col-2 float-left ml-2">
                                    <p class="h4">{{ _('Micrófonos:') }}</p>
                                    {% for i in range(1, settings.microfonistas|int + 1) %}
                                        <select name="microfono_{{ i }}" class="form-control width-full mt-2">
                                            <option value="">{{ _('-- Selecciona Micrófono --') }}</option>
                                            {% for publicador in participantes_microfonos %}
                                                <option value="{{ publicador['nombres'] }} {{ publicador['apellidos'] }}">{{ publicador['nombres'] }} {{ publicador['apellidos'] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {% endif %}

                            <!-- Acomodadores -->
                            {% if settings.acomodadores|int > 0 %}
                                <div class="col-2 float-left ml-2">
                                    <p class="h4">{{ _('Acomodadores:') }}</p>
                                    {% for i in range(1, settings.acomodadores|int + 1) %}
                                        {% set etiqueta_key = 'acomodadoresEtiqueta' ~ i %}
                                        {% if etiqueta_key in etiquetas %}
                                            <p class="mt-2 mb-n2"><em>{{ etiquetas[etiqueta_key] }}</em></p>
                                        {% endif %}
                                        <select name="acomodador_{{ i }}" class="form-control width-full mt-2">
                                            <option value="">{{ _('-- Selecciona Acomodador --') }}</option>
                                            {% for publicador in participantes_acomodadores %}
                                                <option value="{{ publicador['nombres'] }} {{ publicador['apellidos'] }}">{{ publicador['nombres'] }} {{ publicador['apellidos'] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endfor %}
                                    <!-- Acomodadores de videoconferencia -->
                            {% if settings.video_conferencia|int > 0 %}
                                
                                    {% for i in range(1, settings.video_conferencia|int + 1) %}
                                        {% set etiqueta_key = 'videoConferenciaEtiqueta' ~ i %}
                                        {% if etiqueta_key in etiquetas %}
                                            <p class="mt-2 mb-n2"><em>{{ etiquetas[etiqueta_key] }}</em></p>
                                        {% else %}
                                        <p class="mt-2 mb-n2"><em>{{ _('Acomodador de videoconferencia:') }}</em></p>
                                        {% endif %}
                                        <select name="videoConferencia_{{ i }}" class="form-control width-full mt-2">
                                            <option value="">{{ _('-- Selecciona Acomodador de Videoconferencia --') }}</option>
                                            {% for publicador in participantes_zoom%}
                                                <option value="{{ publicador['nombres'] }} {{ publicador['apellidos'] }}">{{ publicador['nombres'] }} {{ publicador['apellidos'] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endfor %}
                            {% else %}
                            {% endif %}
                                </div>
                            {% else %}
                            {% endif %}



                        </div>
                    </div>
<button type="submit" class="btn btn-primary mb-2 ml-2 mt-2 float-right">{{ _('Guardar') }}</button>
                </div>
            </div>
        </div>
    </div>

</form>
</div>
        
    </div>
</body>

</html>
