<!DOCTYPE html>
<html data-color-mode="light" data-light-theme="light">
   <head>
      <title>Kingdom Hall Attendant</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link href="{{ url_for('static', filename='primer.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='jw-icons.css') }}" rel="stylesheet" />
   </head>
   <body>
         <div class="Header color-bg-inset">
            <!-- Image item  -->
            <div class="Header-item width-full">
               <a onclick="history.back()" style="cursor: pointer;" class="mr-2 ml-n2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                     <path d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z"></path>
                  </svg>
               </a>
               <img class="avatar CircleBadge" height="100" alt="@octocat" src="https://github.com/octocat.png" width="100">
               <div class="d-table col-12">
                  {% include 'user_info.html' %}
               </div>
            </div>
            </div>
         <div class="container-xl mt-6">
            <div class="container-lg clearfix">        
                <form>                 
 
                  <select class="form-select mb-2 mt-2 width-full" aria-label="Preference">
                     <option>Actividad</option>
                     <option>Servicio del campo</option>
                     <option>Reunión del fin de semana</option>
                     <option>Desayuno</option>
                     <option>Comida</option>
                     <option>Cena</option>
                     <option>Pastoreo</option>
                     <option>Reunión de precursores</option>
                     <option>Reunión de entre semana</option>
                     <option>Reunión de ancianos y siervos ministeriales</option>
                     <option>Sin arreglos</option>
                  </select>
                  <p class="h6 mb-0">Día:</p>
                  <select class="form-select mb-2 width-full" aria-label="Preference">                     
                     <option>Lunes</option>
                     <option>Martes</option>
                     <option>Miércoles </option>
                     <option>Jueves</option>
                     <option>Viernes</option>
                     <option>Sábado</option>
                     <option>Domingo</option>
                  </select>
                  <p class="h6 mb-0">Hora:</p>
                  <input class="form-control width-full" type="time" placeholder="Hora" aria-label="Hora">
                 
                  <select class="form-select mb-2 mt-2 width-full" aria-label="Preference">
                     <option>Lugar</option>
                     <option>Salón del Reino</option>
                     <option>- Mostrar las familias disponibles -</option>
                  </select>
                   <br><br>
                   <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Guardar</button>  
                      <button type="submit" onclick="history.back()" class="btn">Cancelar</button>                                           
                   </div>
                </form>
         </div>
      </div>
      </div>
   </body>
</html>