<footer class="MinimalFooter-module--Footer--SWskR" style="width:100%;box-shadow: none;">
            <section>
                <div class="MinimalFooter-module--Footer__legal-and-links--73MFj">
                    <div class="MinimalFooter-module--Footer__container--2gqrH">
                        <div
                            class="Stack-module--Stack--i7hTG Stack-module--Stack-narrow--vertical--Fe3Pi Stack-module--Stack-regular--horizontal--rY4BG Stack-module--Stack--gap-normal--vPWjH Stack-module--Stack--justify-content-space-between--IcCcT Stack-module--Stack--padding-none--5IVv0">
                            <div
                                class="Stack-module--Stack--i7hTG Stack-module--Stack-narrow--vertical--Fe3Pi Stack-module--Stack-regular--horizontal--rY4BG Stack-module--Stack--gap-condensed--hVoJK Stack-module--Stack-narrow--justify-content-center--YEV1v Stack-module--Stack-regular--justify-content-flex-end--McTRB Stack-module--Stack--padding-none--5IVv0 MinimalFooter-module--Footer__links--TuGjW">
                                <a href="https://kha-13.creator-spring.com/" target="_blank"
                                    class="MinimalFooter-module--Footer__link--Dpxmm">Merch<span class="text-neutral/50 ml-2">↗</span></a>
                                <style>
                                    .text-neutral\/50 {
    color: 
color-mix(in oklab, #000 50%, transparent);
}
.ml-2 {
    margin-left: calc(.12rem* 2);
}
                                </style>
                                <a href="/terms"
                                    class="MinimalFooter-module--Footer__link--Dpxmm">Legal</a>
                                <a href="https://github.com/livrasand/Kingdom-Hall-Attendant"
                                    class="MinimalFooter-module--Footer__link--Dpxmm">Source code</a>
                                    <a href="https://opencollective.com/kingdom-hall-attendant" target="_blank"
                                    class="MinimalFooter-module--Footer__link--Dpxmm" style="border-bottom: 5px solid #ffbd4f;">Donar<span class="text-neutral/50 ml-2">↗</span></a>
                                <a href="https://github.com/livrasand/kingdom_hall_attendant_binaries/releases/latest"
                                    class="MinimalFooter-module--Footer__link--Dpxmm">Desktop Client</a>
                                <a href="https://github.com/livrasand/Kingdom-Hall-Attendant/releases"
                                    class="MinimalFooter-module--Footer__link--Dpxmm">Release Notes</a>
                            </div>
                            <p
                                class="Text-module--Text--yhV1b Text-module--Text-font--mona-sans--QaJya Text-module--Text--muted--8xMEA Text-module--Text--200--VnEtP MinimalFooter-module--Footer__copyright--tUQf7">
                                © 2024 Livrädo Sandoval. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </section>
        </footer>