<!DOCTYPE html>
<html data-color-mode="light" data-light-theme="light">
   <head>
      <title>Kingdom Hall Attendant</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link href="{{ url_for('static', filename='primer.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='jw-icons.css') }}" rel="stylesheet" />
   </head>
   <body class="mb-6">
      <div class="Header color-bg-inset">
         <!-- Image item  -->
         <div class="Header-item">
            <img class="avatar CircleBadge" height="100" alt="@octocat" src="https://github.com/octocat.png" width="100">
            <div class="d-table col-12">
                <div class="col-10 d-table-cell v-align-middle pl-4">
                    <h2 class="text-normal lh-condensed color-fg-default" id="userFullName">Apellidos, Nombre</h2>
                    <p class="color-fg-muted text-small" id="userEmail">usuario@correo.com</p>
                </div>
            </div>
        </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #1a7f37;border-left-color: #1a7f37;border-color: #1a7f37;background-color: #dafbe1;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="congregacion.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e51"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Congregación</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Administra la información de la congregación y de los publicadores
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid rgba(212, 167, 44, 0.4);border-left-color: rgba(212, 167, 44, 0.4);border-color: rgba(212, 167, 44, 0.4);background-color: rgb(255, 248, 197);border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="vida-ministerio.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e118"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Vida y Ministerio</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Programa automáticamente las asignaciones para la reunión
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #1a7f37;border-left-color: #1a7f37;border-color: #1a7f37;background-color: #dafbe1;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="estudio-atalaya.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"> <i class="jwIcon e95"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Estudio de la Atalaya</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Programa automáticamente los participantes para la reunión
                  </p>
               </a>
            </div>
         </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #8f7193;border-left-color: #8f7193;border-color: #8f7193;background-color: #dfcae1;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="oradores.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e175"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Oradores públicos</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Registre oradores públicos locales o visitantes
                  </p>
               </a>
            </div>
         </div>  
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #1a7f37;border-left-color: #1a7f37;border-color: #1a7f37;background-color: #dafbe1;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="bosquejos.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon siete"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Discursos públicos</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organiza las visitas y las salidas de los oradores y sus hospitalidades
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e111"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Limpieza y Matenimiento</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organice la limpieza del Salón del Reino y del jardín, inventaríe los insumos
                  </p>
               </a>
            </div>
         </div>         
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #1a7f37;border-left-color: #1a7f37;border-color: #1a7f37;background-color: #dafbe1;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="grupos-predicacion.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e114"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Grupos de predicación</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Cree grupos, asigne al siervo de grupo y el auxiliar
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e106"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Visitas de pastoreo</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organize las visitas de pastoreo a las familias y publicadores
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e140"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Mesas y exhibidores portatiles</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organize los publicadores que participan, los lugares y los días
                  </p>
               </a>
            </div>
         </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid rgba(212, 167, 44, 0.4);border-left-color: rgba(212, 167, 44, 0.4);border-color: rgba(212, 167, 44, 0.4);background-color: rgb(255, 248, 197);border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="visita-superint-circuito.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e87"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Visita del Superint. de Circuito</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Programe la visita del superintendente de circuito a la congregación
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e56"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Servicio del campo</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Programe las salidas, y lleve un registro de los lugares predicados, y territorios
                  </p>
               </a>
            </div>
         </div>         
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e24"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Contabilidad</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Registre las entradas y salidas, prepare el informe mensual para la congregación
                  </p>
               </a>
            </div>
         </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e24"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Contabilidad del circuito</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Registre las entradas y salidas, lleve un registro del circuito
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e45"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Grupos y pregrupos</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Sea anfitrión de un pregrupo o grupo que predica en otro idioma 
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e87"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Visita del Superint. de servicio</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Programe la visita del superintendente de servicio a su grupo
                  </p>
               </a>
            </div>
         </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e172"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Matenimiento de LDC</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Programe el mantenimiento preventivo para el Salón del Reino
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e40"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Literatura y revistas</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Mantenga un inventario progresivo de la literatura
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e46"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Asuntos judiciales</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Coordine y mantenga un registro de los asuntos de la congregación
                  </p>
               </a>
            </div>
         </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e53"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Conmemoración</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organice la Conmemoración y el Discurso público especial
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e113"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Hermanos necesitados</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organice la ayuda a hermanos necesitados con un fiel servicio
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e149"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Desastres y emergencias</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organice labores de socorro a las víctimas de desastres y emergencias
                  </p>
               </a>
            </div>
         </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e17"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Reuniones</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Lleve un registro de la asistencia a las reuniones
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e168"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Informes</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Vea el progreso espiritual de la congregación y totales del año 
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e112"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Asambleas</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Organice asambleas de circuito y regionales 
                  </p>
               </a>
            </div>
         </div>
      </div>
      <div class="container-lg clearfix">
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e126"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Asuntos médicos</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Recursos y herramientas, o agende un procedimiento clínico futuro
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #84b6f4;border-left-color: #84b6f4;border-color: #84b6f4;background-color: #c4dafa;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e64"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Grupo de Visita a Pacientes</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Programe visitas a pacientes para dar consuelo espiritual y ayuda
                  </p>
               </a>
            </div>
         </div>
         <div class="col-4 float-left p-3">
            <div class="col-6 width-full" style="border-left: 6px solid #1a7f37;border-left-color: #1a7f37;border-color: #1a7f37;background-color: #dafbe1;border-radius: 6px;">
               <a class="d-block color-shadow-large px-2 pt-2 pb-2 position-relative rounded-2 overflow-hidden no-underline" href="configuracion.html">
                  <div class="position-absolute top-0 left-2" style="margin-top:2%;"><i class="jwIcon e77"></i></div>
                  <h5 class="color-fg-default" style="margin-left: 25%;">Configuración</h5>
                  <p class="color-fg-muted text-small" style="margin-left: 25%;">
                     Añada sus datos personales, cambie la apariencia o el idioma, entre otros más
                  </p>
               </a>
            </div>
         </div>
      </div>
      <p align="center" style="margin-top:15px;">Versión 1.0.0 Pre-Alpha</p>
   </body>
</html>