<!DOCTYPE html>
<html>
<head>
 <!-- Google tag (gtag.js) -->
 {% include 'google-tag.html' %}
 
    <title>Kingdom Hall Attendant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static', filename='print-styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='primer.css') }}" rel="stylesheet" />
      
      <link href="{{ url_for('static', filename='jw-icons.css') }}" rel="stylesheet" />
      <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="Header color-bg-inset">
        <!-- Image item  -->
        <div class="Header-item width-full">
           <a onclick="history.back()" style="cursor: pointer;" class="mr-2 ml-n2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                 <path d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z"></path>
              </svg>
           </a>
           <a href="/home" style="cursor: pointer;" class="mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 24" width="24" height="24">
                 <path d="M11.03 2.59a1.501 1.501 0 0 1 1.94 0l7.5 6.363a1.5 1.5 0 0 1 .53 1.144V19.5a1.5 1.5 0 0 1-1.5 1.5h-5.75a.75.75 0 0 1-.75-.75V14h-2v6.25a.75.75 0 0 1-.75.75H4.5A1.5 1.5 0 0 1 3 19.5v-9.403c0-.44.194-.859.53-1.144ZM12 3.734l-7.5 6.363V19.5h5v-6.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 .75.75v6.25h5v-9.403Z"></path>
              </svg>
           </a>
           <img class="avatar CircleBadge" height="100" alt="@octocat" src="{{ url_for('identicon') }}" width="100">
           <div class="d-table col-12">
              {% include 'user_info.html' %}
           </div>
        </div>
        <div class="d-flex flex-justify-end">    
         <a class="btn btn-sm mr-2" onclick="imprimirPagina()">{{ _('Imprimir') }}</a>
        </div>
     </div>

     <div class="container-xl mt-6">
        <!-- HEAD PRINT -->
     <div id="header-page" style="display: flex;align-items: center;width: 100%;">
      <p class="h3 ml-2 mt-n4" style="width:85%;">{{ _('Informes de predicación') }}</p>
      <p class="h6 color-fg-muted mr-4 mt-n4" align="right" style="width: 15%">
{% if congregacion %}
 {{ congregacion }}
{% else %}
 {{ _('Registra tu congregación') }}
{% endif %}</p>
   </div>
   <!-- HEAD PRINT -->
        <!-- Filtros -->
        <div class="BorderGrid BorderGrid--spacious p-2">
            <div class="BorderGrid-row">
                <div class="BorderGrid-cell">
                    <form method="GET" class="d-flex flex-items-center">
                        <div class="form-group mr-3">
                            <select name="mes" class="form-select" onchange="this.form.submit()">
                                {% for month_num, month_name in meses.items() %}
                                <option value="{{ month_num }}" {{ 'selected' if month_num|int == selected_month }}>
                                    {{ month_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group mr-3">
                            <select name="anio" class="form-select" onchange="this.form.submit()">
                                {% for year in range(2020, current_year + 2) %}
                                <option value="{{ year }}" {{ 'selected' if year == selected_year }}>
                                    {{ year }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group mr-3">
                            <select name="grupo" class="form-select" onchange="this.form.submit()">
                                <option value="todos">Todos los grupos</option>
                                {% for grupo in grupos %}
                                <option value="{{ grupo[0] }}" {{ 'selected' if grupo[0] == request.args.get('grupo') }}>
                                    {{ grupo[0] }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% if publicadores %}
   {% for publicador in publicadores %}
   <div class="col-4 float-left p-2">
       <div class="col-6 width-full">
           <a class="d-block color-shadow-large px-2 pt-4 pb-4 position-relative rounded-2 overflow-hidden no-underline" 
              href="{{ url_for('registrar_informe', publicador_id=publicador[0]) }}">
               <h5 class="color-fg-default pl-3">{{ publicador[1] }} {{ publicador[2] }}</h5>
               {% if informes[publicador[0]] %}
                   <h6 class="pl-3">{{ _('Participación:') }} {{ 'Sí' if informes[publicador[0]][4] else _('No') }}</h6>
                   <h6 class="pl-3">{{ _('Cursos bíblicos:') }} {{ informes[publicador[0]][5] }}</h6>
                   <h6 class="pl-3">{{ _('Horas:') }} {{ informes[publicador[0]][6] }}</h6>
                   <h6 class="pl-3">{{ _('Comentarios:') }} {{ informes[publicador[0]][7] }}</h6>
                   <h6 class="pl-3">{{ _('Privilegio:') }} {{ informes[publicador[0]][8] }}</h6>
               {% else %}
                   <p class="pl-3 color-fg-muted">{{ _('No ha entregado su informe aún.') }}</p>
               {% endif %}
           </a>
       </div>
   </div>
   {% endfor %}

{% else %}
<div class="container-lg mt-4" align="center">
        <div class="Box p-4" style="background-color: #f8f9fa; border: 1px dashed #D7E3DA;">
            <h1 style="color: #498457;"><svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M12.5 1.25a.75.75 0 0 0-1.5 0v8.69L6.447 5.385a.75.75 0 1 0-1.061 1.06L9.94 11H1.25a.75.75 0 0 0 0 1.5h8.69l-4.554 4.553a.75.75 0 0 0 1.06 1.061L11 13.561v8.689a.75.75 0 0 0 1.5 0v-8.69l4.553 4.554a.75.75 0 0 0 1.061-1.06L13.561 12.5h8.689a.75.75 0 0 0 0-1.5h-8.69l4.554-4.553a.75.75 0 1 0-1.06-1.061L12.5 9.939V1.25Z"></path></svg></h1>
            <h4 style="color: #7f8c8d; width: 100%;">{{ _('¡Aún no tienes ha nadie registrado!') }}</h4>
            <p class="text-small mt-2" style="color: #95a5a6;">{{ _('Para empezar, registra un nuevo publicador"') }}</p>
        </div>
    </div>
    {% endif %}


    </div>
    <!-- Sección de totales -->
<section aria-labelledby="totales" class="BorderGrid mt-8 p-6" style="clear: both;">
  <div class="BorderGrid-row" style="border: 1px solid #a5b3dd;border-radius: 12px;background-color: #ffffff;padding: 16px;display: flex;flex-direction: column;gap: 16px;">
    <div class="BorderGrid-cell">
      <h3 id="totales" style="font-size: 22px;text-decoration: none;font-weight: 550;font-style: normal;font-stretch: normal;letter-spacing: .18px;line-height: 24px;text-indent: 0px;text-transform: none;">{{ _('Totales') }}</h3>
      <dl class="d-flex flex-wrap">
        <div class="mr-4">
          <dt style="font-size: 15px;text-decoration: none;font-weight: 400;font-style: normal;font-stretch: normal;letter-spacing: -.3px;line-height: 20px;text-indent: 0px;text-transform: none;">{{ _('Horas totales:') }}</dt>
          <dd style="color: #3b4ca3;border-radius: 4px;padding: 4px 8px;background-color: #f2f5ff;font-style: normal;font-stretch: normal;letter-spacing: -.3px;">{{ "%.2f"|format(total_horas) }}</dd>
          <hr class="MuiDivider-root MuiDivider-fullWidth css-v5o87m" style="margin-top: 15px;margin-bottom:10px;flex-shrink: 0;border-width: 0px 1px 1px 0px;border-style: solid;border-color: #d5dffd;">
          <dt style="font-size: 15px;text-decoration: none;font-weight: 400;font-style: normal;font-stretch: normal;letter-spacing: -.3px;line-height: 20px;text-indent: 0px;text-transform: none;">{{ _('Cursos bíblicos:') }}</dt>
          <dd style="color: #3b4ca3;border-radius: 4px;padding: 4px 8px;background-color: #f2f5ff;font-style: normal;font-stretch: normal;letter-spacing: -.3px;">{{ total_cursos }}</dd>
        </div>
        <div class="mr-4">
          <dt style="font-size: 15px;text-decoration: none;font-weight: 400;font-style: normal;font-stretch: normal;letter-spacing: -.3px;line-height: 20px;text-indent: 0px;text-transform: none;">{{ _('Precursores auxiliares:') }}</dt>
          <dd style="color: #3b4ca3;border-radius: 4px;padding: 4px 8px;background-color: #f2f5ff;font-style: normal;font-stretch: normal;letter-spacing: -.3px;">{{ count_auxiliar }}</dd>
          <hr class="MuiDivider-root MuiDivider-fullWidth css-v5o87m" style="margin-top: 15px;margin-bottom:10px;flex-shrink: 0;border-width: 0px 1px 1px 0px;border-style: solid;border-color: #d5dffd;">
          <dt style="font-size: 15px;text-decoration: none;font-weight: 400;font-style: normal;font-stretch: normal;letter-spacing: -.3px;line-height: 20px;text-indent: 0px;text-transform: none;">{{ _('Precursores regulares:') }}</dt>
          <dd style="color: #3b4ca3;border-radius: 4px;padding: 4px 8px;background-color: #f2f5ff;font-style: normal;font-stretch: normal;letter-spacing: -.3px;">{{ count_regular }}</dd>
          <hr class="MuiDivider-root MuiDivider-fullWidth css-v5o87m" style="margin-top: 15px;margin-bottom:10px;flex-shrink: 0;border-width: 0px 1px 1px 0px;border-style: solid;border-color: #d5dffd;">
          <dt style="font-size: 15px;text-decoration: none;font-weight: 400;font-style: normal;font-stretch: normal;letter-spacing: -.3px;line-height: 20px;text-indent: 0px;text-transform: none;">{{ _('Precursores especiales:') }}</dt>
          <dd style="color: #3b4ca3;border-radius: 4px;padding: 4px 8px;background-color: #f2f5ff;font-style: normal;font-stretch: normal;letter-spacing: -.3px;">{{ count_especial }}</dd>
        </div>
        <div class="mr-4">
          <dt style="font-size: 15px;text-decoration: none;font-weight: 400;font-style: normal;font-stretch: normal;letter-spacing: -.3px;line-height: 20px;text-indent: 0px;text-transform: none;">{{ _('Misioneros:') }}</dt>
          <dd style="color: #3b4ca3;border-radius: 4px;padding: 4px 8px;background-color: #f2f5ff;font-style: normal;font-stretch: normal;letter-spacing: -.3px;">{{ count_misionero }}</dd>
          <hr class="MuiDivider-root MuiDivider-fullWidth css-v5o87m" style="margin-top: 15px;margin-bottom:10px;flex-shrink: 0;border-width: 0px 1px 1px 0px;border-style: solid;border-color: #d5dffd;">
          <dt style="font-size: 15px;text-decoration: none;font-weight: 400;font-style: normal;font-stretch: normal;letter-spacing: -.3px;line-height: 20px;text-indent: 0px;text-transform: none;">{{ _('Informan directamente a la sucursal:') }}</dt>
          <dd style="color: #3b4ca3;border-radius: 4px;padding: 4px 8px;background-color: #f2f5ff;font-style: normal;font-stretch: normal;letter-spacing: -.3px;">{{ count_informa_sucursal }}</dd>
        </div>
      </dl>
    </div>
  </div>
</section>


    <script>
      function imprimirPagina() {


window.print(); // Inicia el proceso de impresión

}
var fechaActual = new Date();
  </script>
        <style>
         @media print {
             .Header {
                 display: none; /* Oculta la cabecera al imprimir */
             }
             form.Filter {
                 display: none !important; /* Oculta el formulario al imprimir */
             }
             
             /* Asegura que el contenido no se corte */
             body {
                 margin: 0; /* Elimina márgenes */
                 padding: 0; /* Elimina relleno */
             }
             
             /* Controla el salto de página */
             .col-4 {
                 page-break-inside: avoid; /* Evita que se corte el contenido dentro de esta clase */
             }
             
             /* Opcional: controla el salto de página en general */
             h1, h2, h3, h4, h5, h6, p {
                 page-break-after: avoid; /* Evita saltos de página después de estos elementos */
             }
         }
       </style>
</body>
</html>