<!DOCTYPE html>
<html lang="en">

<head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PM738JMZ22"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PM738JMZ22');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='en-línea-1.css') }}" rel="stylesheet" />
    <!-- link icons  -->
    <script src="https://kit.fontawesome.com/59784df54a.js" crossorigin="anonymous"></script>
    <title>Sign-up System | Kingdom Hall Attendant</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preload" href="https://github.githubassets.com/assets/mona-sans-d1bf285e9b9b.woff2" as="font" type="font/woff2" crossorigin="">

</head>

<body>
    <div class="container" style='background-image: url("https://cdn.wetransfer.com/_next/static/media/PricingBackground.74fe38a7.svg");background-size: 100%;background-repeat: no-repeat;'>
      <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Utility__f24f44fb styles_module_wtLink_Default__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtBodyMedium__f24f44fb styles_module_logoLink__8a4eaeaf styles_module_dark__8a4eaeaf Nav_navTopLogo__LpSb7" href="https://www.getkha.org/" >
        <img src="{{ url_for('static', filename='images/313010479-cfab1393-8ae1-4b3f-9895-7022272f1262.jpeg') }}" style="width:50px;border-radius: 25%;"></a>

      <nav id="wt-top-navigation-n_XG1HoVuvytluhKz8jtu" class="styles_module_container__05ad3f7f Nav_globalNavContainer__BzVy1"><div class="styles_module_menuGroup__a75ea064"><div class="styles_module_menuBar__a75ea064 styles_module_buttonsSection__33aa50d8"><a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea" href="/login" data-prevent-routing="true" data-testid="Iniciar sesión">Iniciar sesión</a><a class="styles_module_wtButton__38691ab2 styles_module_wtButton_XSmall__38691ab2 styles_module_wtButtonPrimaryNeutral_Light__38691ab2" href="/signup" data-testid="Registrarse">Registrarse</a></div></div></nav>
      <!-- Menú móvil -->
<nav id="mobile-navigation" class="styles_module_container__05ad3f7f Nav_globalNavContainer__BzVy1">
    <div class="styles_module_menuGroup__a75ea064">
        <div class="styles_module_menuBar__a75ea064 styles_module_buttonsSection__33aa50d8">
            <a id="menu-toggle" class="styles_module_wtButton__38691ab2 styles_module_wtButton_XSmall__38691ab2 styles_module_wtButtonPrimaryNeutral_Light__38691ab2" data-testid="Menu toggle" style="height: 100%;margin:0;">
                <svg width="18" height="18" viewBox="0 0 18 18">
                    <polyline id="globalnav-menutrigger-bread-bottom" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="2 12, 16 12" class="globalnav-menutrigger-bread globalnav-menutrigger-bread-bottom">
                        <animate id="globalnav-anim-menutrigger-bread-bottom-open" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 2 12, 16 12; 2 9, 16 9; 3.5 15, 15 3.5"></animate>
                        <animate id="globalnav-anim-menutrigger-bread-bottom-close" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 3.5 15, 15 3.5; 2 9, 16 9; 2 12, 16 12"></animate>
                    </polyline>
                    <polyline id="globalnav-menutrigger-bread-top" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="2 5, 16 5" class="globalnav-menutrigger-bread globalnav-menutrigger-bread-top">
                        <animate id="globalnav-anim-menutrigger-bread-top-open" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 2 5, 16 5; 2 9, 16 9; 3.5 3.5, 15 15"></animate>
                        <animate id="globalnav-anim-menutrigger-bread-top-close" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 3.5 3.5, 15 15; 2 9, 16 9; 2 5, 16 5"></animate>
                    </polyline>
                </svg>
            </a>
        </div>
    </div>
</nav>

<div style="padding: 50px 20% 0 20%;background: linear-gradient(180deg, rgba(255,255,255,0.1) 22%, rgba(93,147,243,0.25) 100%);">
<div class="container-lg p-responsive" style="margin-top: 25px; width: 100%;">
      <div class="col-md-8 col-lg-10 col-xl-12 text-center mx-auto my-5 my-sm-0">
        <h2 class="github-head mb-3" style="line-height: 1;text-align: left;margin-left: -4px;">Sign-up System</h2>   
        <section style="text-align: left;margin-top: 20px;margin-bottom: 20px;">
        <p>{{ _('En Kingdom Hall Attendant, utilizamos principalmente un sistema de registro sin contraseñas. Creemos que es mejor no obligar a los usuarios a establecer una contraseña, ya que esto puede generar más riesgos de seguridad (más detalles a continuación).') }}</p>
        <h3 style="margin-top:20px;">{{ _('¿Cómo funciona el registro sin contraseñas?') }}</h3>
        <p style="margin-top:20px;">{{ _('Ingresas tu correo electrónico y el sistema identifica instantáneamente si ya tienes una cuenta o si eres un usuario nuevo.') }}
<br><br>
    <b>{{ _('Si ya tienes una cuenta') }}</b>, {{ _('te enviaremos un correo electrónico con un enlace único que te permitirá acceder a Kingdom Hall Attendant. Este enlace te mantendrá autenticado durante 30 días en ese dispositivo.') }}
<br><br>
    <b>{{ _('Si eres un nuevo usuario') }}</b>, {{ _('te guiaremos para crear tu cuenta. A través del enlace enviado por correo electrónico, completarás el proceso de registro y podrás comenzar a usar la aplicación.') }}

</p>
<h3 style="margin-top:20px;">{{ _('¿Cómo funciona si estableces una contraseña?') }}</h3>
        <p style="margin-top:20px;">{{ _('Si prefieres configurar una contraseña, puedes hacerlo desde la sección "Seguridad" en la configuración de tu cuenta. Al iniciar sesión en el futuro, después de ingresar tu correo electrónico, se te pedirá que ingreses tu contraseña. Si no recuerdas tu contraseña, tendrás dos opciones:') }}
<br><br>
    <b>{{ _('Enviarme un correo electrónico:') }}</b> {{ _('Funciona igual que el sistema sin contraseña, con un enlace para iniciar sesión.') }}
    <br><br>
    <b>{{ _('Restablecer mi contraseña:') }}</b> {{ _('Recibirás un correo para establecer una nueva contraseña y asegurar tu acceso.') }}
</p>

<h3 style="margin-top:20px;">{{ _('Seguridad') }}</h3>
<p style="margin-top:20px;">
{{ _('Aunque pueda parecer contradictorio, las contraseñas no siempre son la opción más segura. Pueden ser difíciles de recordar y fáciles de adivinar por los estafadores. Muchas personas no usan gestores de contraseñas y a menudo reutilizan contraseñas o eligen opciones obvias, como su fecha de nacimiento o el nombre de su mascota.') }}
<br><br>
{{ _('Además, la mayoría de los sitios web permiten restablecer la contraseña mediante un correo electrónico, lo que puede ser aprovechado por los estafadores si tu correo está comprometido. Para mitigar estos riesgos, recomendamos habilitar la autenticación de dos factores (2FA) utilizando aplicaciones como Google Authenticator para mejorar la seguridad de tu cuenta.') }}</p>

<h3 style="margin-top:20px;">{{ _('Beneficios de la autenticación sin contraseñas') }}</h3>
<p style="margin-top:20px;">{{ _('Según Auth0:') }}
<br>
    "{{ _('La autenticación sin contraseñas, por su naturaleza, elimina el problema del uso de contraseñas inseguras. Esto significa que uno de los errores más comunes de los usuarios se elimina del proceso de inicio de sesión. No solo es segura, sino que podría ser aún más segura que el método tradicional de usuario y contraseña.') }}"</p>
    <h3 style="margin-top:20px;">{{ _('¿Quién más utiliza enlaces mágicos para registrarse?') }}</h3>
<p style="margin-top:20px;">{{ _('Varias aplicaciones populares también han adoptado la autenticación sin contraseñas con enlaces mágicos:') }}
<br><br>
    <b>Slack</b> - {{ _('una aplicación de mensajería') }}<br>
    <b>Monzo</b> - {{ _('una aplicación bancaria') }}<br>
    <b>Scaleway</b> - {{ _('un servicio de hosting') }}<br>
    <b>Sweep Bright</b> - {{ _('una plataforma de CRM') }}<br>
    <b>Notion</b> - {{ _('una app de organización y notas') }}</p>
    </section>
      </div>


      

    </div>
</div>




    </div> 


</body>

</html>