<!DOCTYPE html>
<html lang="en">

<head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PM738JMZ22"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PM738JMZ22');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

    <!-- link icons  -->
    <script src="https://kit.fontawesome.com/59784df54a.js" crossorigin="anonymous"></script>
    <title>Sign in to Kingdom Hall Attendant</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preload" href="https://github.githubassets.com/assets/mona-sans-d1bf285e9b9b.woff2" as="font" type="font/woff2" crossorigin="">

</head>

<body>
    <div class="container">
        <div style="max-width: 450px;">
           {% include 'nav.html' %}
           
        <h1 class="github-head" style="margin-top: 60px;">
            Sign in to Kingdom Hall Attendant
        </h1>
        <form action="/accessing" method="post" style="width:100%;">
        <div class="login-wrapper">
            <div class="input-box">
                <div for="email" class="input-label">Correo electrónico</div>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-box">
                <div class="input-label" for="password">
                    <span>Contraseña</span>
                    <a href="/forgot" style="color: rgb(0, 87, 188);cursor: pointer;">Olvidé mi contraseña</a>
                </div>
                <input type="password" id="password" name="password" required>
            </div>

            <button class="submit-btn">
                Iniciar sesión
            </button>

            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <div class="input-label" style="font-size:12px;margin-top: 10px;color:var(--primary-red);">{{ message }}</div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        </div>
    </form>

        <div class="info">
            <span>¿No tiene una cuenta? <a href="/signup" style="color: rgb(0, 87, 188);cursor: pointer;">Crea una cuenta Opensource Edition gratis para siempre</a>.</span>
        </div>
</div>
    </div> 


</body>

</html>