<a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Utility__f24f44fb styles_module_wtLink_Default__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtBodyMedium__f24f44fb styles_module_logoLink__8a4eaeaf styles_module_dark__8a4eaeaf Nav_navTopLogo__LpSb7"
            href="/">
            <img src="{{ url_for('static', filename='images/313010479-cfab1393-8ae1-4b3f-9895-7022272f1262.jpeg') }}"
                style="width:50px;border-radius: 25%;"></a>

        <nav id="wt-top-navigation-n_XG1HoVuvytluhKz8jtu"
            class="styles_module_container__05ad3f7f Nav_globalNavContainer__BzVy1">
            <div class="styles_module_menuGroup__a75ea064">
                <div class="styles_module_menuBar__a75ea064">
                    <div class="styles_module_fullMenu__a75ea064" aria-hidden="false">
                        <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                            href="/manifesto">Manifesto</a>
                        <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                            href="/security">Seguridad</a>
                        <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                            href="/faq">FAQ</a>
                            </div>
                </div>
                <div class="styles_module_menuBar__a75ea064 styles_module_buttonsSection__33aa50d8">
                    <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                        href="/login" data-prevent-routing="true" data-testid="Iniciar sesión">Iniciar sesión</a>
                    <a class="styles_module_wtButton__38691ab2 styles_module_wtButton_XSmall__38691ab2 styles_module_wtButtonPrimaryNeutral_Light__38691ab2"
                        href="/signup" data-testid="Registrarse">Registrarse</a>
                </div>
            </div>
        </nav>

        <!-- Menú móvil -->
        <nav id="mobile-navigation" class="styles_module_container__05ad3f7f Nav_globalNavContainer__BzVy1">
            <div class="styles_module_menuGroup__a75ea064">
                <div class="styles_module_menuBar__a75ea064 styles_module_buttonsSection__33aa50d8">
                    <a id="menu-toggle"
                        class="styles_module_wtButton__38691ab2 styles_module_wtButton_XSmall__38691ab2 styles_module_wtButtonPrimaryNeutral_Light__38691ab2"
                        data-testid="Menu toggle" style="height: 100%;margin:0;">
                        <svg width="18" height="18" viewBox="0 0 18 18">
                            <polyline id="globalnav-menutrigger-bread-bottom" fill="none" stroke="currentColor"
                                stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="2 12, 16 12"
                                class="globalnav-menutrigger-bread globalnav-menutrigger-bread-bottom">
                                <animate id="globalnav-anim-menutrigger-bread-bottom-open" attributeName="points"
                                    keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline"
                                    keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
                                    values=" 2 12, 16 12; 2 9, 16 9; 3.5 15, 15 3.5"></animate>
                                <animate id="globalnav-anim-menutrigger-bread-bottom-close" attributeName="points"
                                    keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline"
                                    keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
                                    values=" 3.5 15, 15 3.5; 2 9, 16 9; 2 12, 16 12"></animate>
                            </polyline>
                            <polyline id="globalnav-menutrigger-bread-top" fill="none" stroke="currentColor"
                                stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="2 5, 16 5"
                                class="globalnav-menutrigger-bread globalnav-menutrigger-bread-top">
                                <animate id="globalnav-anim-menutrigger-bread-top-open" attributeName="points"
                                    keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline"
                                    keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
                                    values=" 2 5, 16 5; 2 9, 16 9; 3.5 3.5, 15 15"></animate>
                                <animate id="globalnav-anim-menutrigger-bread-top-close" attributeName="points"
                                    keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline"
                                    keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
                                    values=" 3.5 3.5, 15 15; 2 9, 16 9; 2 5, 16 5"></animate>
                            </polyline>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>

        <div id="fullscreen-menu" class="fullscreen-menu">
            <div class="fullscreen-curtain"></div>
            <div class="fullscreen-menu-content">
                <button class="close-menu" id="close-menu"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                        height="18" viewBox="0 0 24 24" fill="#fff" style="margin-left: -4px;">
                        <path
                            d="M 19.990234 2.9863281 A 1.0001 1.0001 0 0 0 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 A 1.0001 1.0001 0 0 0 3.9902344 2.9902344 A 1.0001 1.0001 0 0 0 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 A 1.0001 1.0001 0 1 0 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 A 1.0001 1.0001 0 1 0 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 A 1.0001 1.0001 0 0 0 19.990234 2.9863281 z">
                        </path>
                    </svg></button>
                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="/manifesto" data-prevent-routing="true" data-testid="Manifesto"
                    style="color: #e8e8ed;">Manifesto</a>
                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="/security" data-prevent-routing="true" data-testid="Manifesto"
                    style="color: #e8e8ed;">Seguridad</a>
                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="/faq" data-prevent-routing="true" data-testid="FAQ" style="color: #e8e8ed;">FAQ</a>
                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="https://crowdin.com/project/kingdom-hall-attendant" data-prevent-routing="true"
                    data-testid="Crowdin" style="color: #e8e8ed;">Ayuda a traducir</a>
                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="https://github.com/livrasand/Kingdom-Hall-Attendant" data-prevent-routing="true"
                    data-testid="Source code" style="color: #e8e8ed;">Source code</a>

                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="https://opencollective.com/kingdom-hall-attendant" data-prevent-routing="true"
                    data-testid="Donar" style="color: #e8e8ed;">Donar</a>
                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="/login" data-prevent-routing="true" data-testid="Iniciar sesión"
                    style="color: #e8e8ed;">Iniciar sesión</a>
                <a class="styles_module_wtLink__f24f44fb styles_module_wtLink_Navigational__f24f44fb styles_module_wtLink_Neutral__f24f44fb styles_module_wtLink_Light__f24f44fb styles_module_wtLabelMediumSemi__f24f44fb styles_module_navLink__0a0665ea"
                    href="/signup" data-prevent-routing="true" data-testid="Registrarse"
                    style="color: #e8e8ed;">Registrarse</a>
            </div>
        </div>