<!DOCTYPE html>
<html data-color-mode="light" data-light-theme="light">

<head>
   <title>Kingdom Hall Attendant</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link href="css/primer.css" rel="stylesheet" />
   <link href="css/jw-icons-for-options.css" rel="stylesheet" />
</head>

<body>
   <div class="container-xl mt-6">
      <div class="col-3 float-left pr-2">
         <div class="">
            <nav class="menu" aria-label="Person settings">
               <div class="Header color-bg-inset menu-heading" id="menu-heading">
                  <!-- Image item  -->
                  <div class="Header-item">
                     <a href="index.html" class="mr-2 ml-n2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                           <path
                              d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z">
                           </path>
                        </svg>
                     </a>
                     <img class="avatar CircleBadge" height="50" alt="@octocat" src="https://github.com/octocat.png"
                        width="50">
                     <div class="d-table col-12">
                        <div class="col-10 d-table-cell v-align-middle pl-4">
                           <h4 class="text-normal lh-condensed color-fg-default">Apellidos, Nombre</h4>
                           <p class="h4 color-fg-muted text-normal mb-2"> </p>
                           <p class="color-fg-muted text-small">usuario@correo.com</p>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="menu-item" href="option-one.html">
                  <i class="jwIcon e51"></i>
                  Congregación
               </a>
               <a class="menu-item" href="option-three.html">
                  <i class="jwIcon e118"></i>
                  Vida y Ministerio
               </a>
               <a class="menu-item" href="option-four.html">
                  <i class="jwIcon e95"></i>
                  Estudio de la Atalaya
               </a>
               <a class="menu-item" href="option-five.html">
                  <i class="jwIcon e185"></i>
                  Consejo de la Oratoria
               </a>
               <a class="menu-item" href="option-six.html">
                  <i class="jwIcon e23"></i>
                  Esquema del Presidente
               </a>
               <a class="menu-item" href="option-seven.html">
                  <i class="jwIcon e35"></i>
                  Soporte tecnico
               </a>
               <a class="menu-item" href="option-eight.html">
                  <i class="jwIcon e186"></i>
                  Organización de las reuniones
               </a>
               <a class="menu-item" href="option-nine.html">
                  <i class="jwIcon e175"></i>
                  Oradores públicos
               </a>
               <a class="menu-item" href="option-ten.html">
                  <i class="jwIcon e53"></i>
                  Hospitalidades
               </a>
               <a class="menu-item" href="option-eleven.html">
                  <i class="jwIcon siete"></i>
                  Bosquejos
               </a>
               <a class="menu-item" href="option-twelve.html">
                  <i class="jwIcon e111"></i>
                  Limpieza y Matenimiento
               </a>
               <a class="menu-item" href="option-thirteen.html" aria-current="page">
                  <i class="jwIcon e33"></i>
                  Territorios
               </a>
               <a class="menu-item" href="option-fourteen.html">
                  <i class="jwIcon e87"></i>
                  Visitas del Superintendente de Circuito
               </a>
               <a class="menu-item" href="option-fiveteen.html">
                  <i class="jwIcon e17"></i>
                  Cuidado de cesped y jardin
               </a>
               <a class="menu-item" href="option-sixteen.html">
                  <i class="jwIcon e172"></i>
                  Matenimiento de LDC
               </a>
               <a class="menu-item" href="option-seventeen.html">
                  <i class="jwIcon e114"></i>
                  Grupos de predicación
               </a>
               <a class="menu-item" href="option-eighteen.html">
                  <i class="jwIcon e106"></i>
                  Visitas de pastoreo
               </a>
               <a class="menu-item" href="option-nineteen.html">
                  <i class="jwIcon e140"></i>
                  Mesas y exhibidores portatiles
               </a>
               <a class="menu-item" href="option-twenty.html">
                  <i class="jwIcon e56"></i>
                  Servicio del campo
               </a>
               <a class="menu-item" href="option-twenty-one.html">
                  <i class="jwIcon e184"></i>
                  Informes
               </a>
               <a class="menu-item" href="option-twenty-two.html">
                  <i class="jwIcon e24"></i>
                  Contabilidad
               </a>
               <a class="menu-item" href="option-twenty-three.html">
                  <i class="jwIcon e173"></i>
                  Asistencia a las reuniones
               </a>
               <a class="menu-item" href="option-twenty-four.html">
                  <i class="jwIcon e40"></i>
                  Literatura y revistas
               </a>
               <a class="menu-item" href="option-twenty-five.html">
                  <i class="jwIcon e46"></i>
                  Asuntos judiciales
               </a>
               <a class="menu-item" href="option-twenty-six.html">
                  <i class="jwIcon e181"></i>
                  Estadisticas de la congregacion
               </a>
               <a class="menu-item" href="option-twenty-seven.html">
                  <i class="jwIcon e120"></i>
                  Copias de seguridad
               </a>
               <a class="menu-item" href="option-twenty-eight.html">
                  <i class="jwIcon e77"></i>
                  Configuracion
               </a>
            </nav>
         </div>
      </div>
      <div class="col-9 float-left pl-2">
         <div class="">
            <div class="tabnav">
               <button class="btn-octicon float-right tooltipped tooltipped-sw" aria-label="Exportar" type="button">
                  <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                     <path
                        d="M2.75 14A1.75 1.75 0 0 1 1 12.25v-2.5a.75.75 0 0 1 1.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 14Z">
                     </path>
                     <path
                        d="M11.78 4.72a.749.749 0 1 1-1.06 1.06L8.75 3.811V9.5a.75.75 0 0 1-1.5 0V3.811L5.28 5.78a.749.749 0 1 1-1.06-1.06l3.25-3.25a.749.749 0 0 1 1.06 0l3.25 3.25Z">
                     </path>
                  </svg>
               </button>
               <button class="btn-octicon float-right tooltipped tooltipped-sw" type="button" aria-label="Importar">
                  <svg class="octicon float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                     height="16">
                     <path
                        d="M2.75 14A1.75 1.75 0 0 1 1 12.25v-2.5a.75.75 0 0 1 1.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 14Z">
                     </path>
                     <path
                        d="M7.25 7.689V2a.75.75 0 0 1 1.5 0v5.689l1.97-1.969a.749.749 0 1 1 1.06 1.06l-3.25 3.25a.749.749 0 0 1-1.06 0L4.22 6.78a.749.749 0 1 1 1.06-1.06l1.97 1.969Z">
                     </path>
                  </svg>
               </button>
               <button class="btn btn-sm ml-2 float-right" href="#url" role="button">
                  <!-- <%= octicon "trashcan" %> -->
                  <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                     <path
                        d="m.427 1.927 1.215 1.215a8.002 8.002 0 1 1-1.6 5.685.75.75 0 1 1 1.493-.154 6.5 6.5 0 1 0 1.18-4.458l1.358 1.358A.25.25 0 0 1 3.896 6H.25A.25.25 0 0 1 0 5.75V2.104a.25.25 0 0 1 .427-.177ZM7.75 4a.75.75 0 0 1 .75.75v2.992l2.028.812a.75.75 0 0 1-.557 1.392l-2.5-1A.751.751 0 0 1 7 8.25v-3.5A.75.75 0 0 1 7.75 4Z">
                     </path>
                  </svg>
                  <span>Historial</span>
               </button>
               <a class="btn btn-sm float-right" href="#url" role="button">Nuevo</a>
               <nav class="tabnav-tabs" aria-label="Foo bar">
                  <a class="tabnav-tab" href="option-thirteen.html" aria-current="page">Territorios</a>
               </nav>
            </div>
         </div>
         <div class="container-lg clearfix">
            <div class="col-4 float-left">
               <div class="Box">
                  <div class="Box-row d-flex flex-items-center">
                     <div class="flex-auto">
                        <strong>Territorio 1</strong>
                     </div>
                     <button class="btn mr-2 btn-sm" type="button">
                        <!-- <%= octicon "search" %> -->
                        <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                           height="16">
                           <path
                              d="M8 2c1.981 0 3.671.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.45.678-1.367 1.932-2.637 3.023C11.67 13.008 9.981 14 8 14c-1.981 0-3.671-.992-4.933-2.078C1.797 10.83.88 9.576.43 8.898a1.62 1.62 0 0 1 0-1.798c.45-.677 1.367-1.931 2.637-3.022C4.33 2.992 6.019 2 8 2ZM1.679 7.932a.12.12 0 0 0 0 .136c.411.622 1.241 1.75 2.366 2.717C5.176 11.758 6.527 12.5 8 12.5c1.473 0 2.825-.742 3.955-1.715 1.124-.967 1.954-2.096 2.366-2.717a.12.12 0 0 0 0-.136c-.412-.621-1.242-1.75-2.366-2.717C10.824 4.242 9.473 3.5 8 3.5c-1.473 0-2.825.742-3.955 1.715-1.124.967-1.954 2.096-2.366 2.717ZM8 10a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 10Z">
                           </path>
                        </svg>
                     </button>
                  </div>
               </div>
            </div>
            <div class="col-8 float-left p-4 mt-n4">
               <form>
                  <input class="form-control width-full" type="text" placeholder="Nombre del territorio"
                     aria-label="Nombre del territorio" />
                  <input class="form-control mt-2 width-full" type="text" placeholder="Número" aria-label="Número" />
                  <select class="form-select mb-0 mt-2 width-full" aria-label="Preference">
                     <option>Capitán asignado</option>
                  </select>

                  <p class="f5 mt-2 mb-n1">Fecha asignado:</p>
                  <input class="form-control mt-1" type="date" placeholder="Hora de inicio" aria-label="Hora de inicio"
                     style="width:24.5%;" />
                  <div class="form-checkbox mt-3">
                     <label>
                        <input type="checkbox" />
                        <em class="highlight">Campaña</em>
                     </label>
                  </div>
                  <p class="f5 mt-2 mb-n1">Fecha terminado:</p>
                  <input class="form-control mt-1" type="date" placeholder="Hora de inicio" aria-label="Hora de inicio"
                     style="width:24.5%;" />
                  <p class="f5 mt-2 mb-n1">Anotaciones:</p>
                  <textarea class="form-control width-full mt-2" type="text"></textarea>
                  <br><br>
                  <div class="form-actions">
                     <button type="submit" class="btn btn-primary">Guardar</button>
                     <button class="btn btn-outline" type="button">Actualizar</button>
                     <button type="button" class="btn btn-danger">
                        <!-- <%= octicon "trashcan" %> -->
                        <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                           height="16">
                           <path fill-rule="evenodd"
                              d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z">
                           </path>
                        </svg>
                        <span>Eliminar</span>
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>

</html>